@font-face {
    font-family: 'PT';
    src: url('[[font:theme|PTSansNarrow.eot]]');
    src: url('[[font:theme|PTSansNarrow.eot]]#iefix') format('embedded-opentype'),
    url('[[font:theme|PTSansNarrow.woff]]') format('woff'),
    url('[[font:theme|PTSansNarrow.ttf]]') format('truetype'),
    url('[[font:theme|PTSansNarrow.svg]]#FontAwesome') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'PT';
    src: url('[[font:theme|PTRegular.eot]]');
    src: url('[[font:theme|PTRegular.eot]]#iefix') format('embedded-opentype'),
    url('[[font:theme|PTRegular.woff]]') format('woff'),
    url('[[font:theme|PTRegular.ttf]]') format('truetype'),
    url('[[font:theme|PTRegular.svg]]#FontAwesome') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'PT';
    src: url('[[font:theme|PTBold.eot]]');
    src: url('[[font:theme|PTBold.eot]]#iefix') format('embedded-opentype'),
    url('[[font:theme|PTBold.woff]]') format('woff'),
    url('[[font:theme|PTBold.ttf]]') format('truetype'),
    url('[[font:theme|PTBold.svg]]#FontAwesome') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'PTNarrowBold';
    src: url('[[font:theme|PTNarrowBold.eot]]');
    src: url('[[font:theme|PTNarrowBold.eot]]#iefix') format('embedded-opentype'),
    url('[[font:theme|PTNarrowBold.woff]]') format('woff'),
    url('[[font:theme|PTNarrowBold.ttf]]') format('truetype'),
    url('[[font:theme|PTNarrowBold.svg]]#FontAwesome') format('svg');
}
