{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header id="course-header" class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>{{coursename}}</h2>
                <div class="summary">{{{summary}}}</div>
            </div>
            {{# courseimage}}
                <div class="col-2">
                    <div class="coursefoto" style="background-image: url({{courseimage}});"></div>
                </div>
            {{/courseimage}}
            <div class="w-100">
                {{#settingsmenu}}
                    <div class="context-header-settings-menu">
                        {{{settingsmenu}}}
                    </div>
                {{/settingsmenu}}
            </div>
            <div class="col-3">
                <h5>Преподаватель</h5>
                <div class="teachers">
                    {{{teacherhtml}}}

                </div>
            </div>
            <div class="col-3">
                <h5>Форма аттестации</h5>
                <div>{{{control}}}</div>
            </div>
            <div class="col-3">
                <h5>Результат</h5>
                <div>{{{grade}}}</div>
            </div>
            <div class="col-3">
                <h5>Оценка</h5>
                <div>{{{str_grade}}}</div>
            </div>
        </div>
    </div>

</header>
    {{{teachermodal}}}
