{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/flat_navigation

    Display the flat navigation for the boost theme

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * flatnavigation - array of flat_navigation_nodes
      * showdivider - boolean
      * action - string
      * isactive - boolean
      * get_indent - integer
      * is_section - boolean
      * text - HTML

    Example context (json):
    {
        "flatnavigation" : [
            {
                "showdivider": false,
                "action": "#",
                "isactive": true,
                "get_indent": 1,
                "is_section": false,
                "text": "First"
            },{
                "showdivider": true,
                "action": "#",
                "isactive": false,
                "get_indent": 0,
                "is_section": true,
                "text": "Last &amp; Second"
            }
        ]
    }
}}
{{#coursenav}}
    <nav class="list-group">
        {{{coursenav}}}
    </nav>
{{/coursenav}}


<nav class="list-group">
{{# flatnavigation }}
    {{#showdivider}}
        </nav>
        <nav class="list-group m-t-1">
    {{/showdivider}}
    {{#action}}
            <a class="list-group-item list-group-item-action {{#isactive}}font-weight-bold{{/isactive}}"
               href="{{{action}}}" data-key="{{key}}" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}"
               data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}"
               data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}"
               data-hidden="{{hidden}}" data-preceedwithhr="{{preceedwithhr}}"
               {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}}>
                <div class="m-l-{{get_indent}}">
                    {{#is_section}}
                        <div class="media">
                    <span class="media-left">
                        {{#pix}}i/folder{{/pix}}
                    </span>
                            <span class="media-body">{{{text}}}</span>
                        </div>
                    {{/is_section}}
                    {{^is_section}}
                        {{{text}}}
                    {{/is_section}}
                </div>
            </a>
    {{/action}}
    {{^action}}
            <div class="list-group-item" data-key="{{key}}" data-isexpandable="{{isexpandable}}"
                 data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}"
                 data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}"
                 data-isactive="{{isactive}}" data-hidden="{{hidden}}" data-preceedwithhr="{{preceedwithhr}}"
                 {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}}>
                <div class="m-l-{{get_indent}}">
                    {{#is_section}}
                        {{#pix}}i/folder{{/pix}}
                    {{/is_section}}
                    {{{text}}}
                </div>
            </div>
    {{/action}}
{{/ flatnavigation }}
</nav>
