.library .search-fields input[type="text"], .library .search-fields select
{
    width: 100%;
    height: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
}
.library
{
    font-family: PT;

}
.library .header span
{
    font-family: PTbold;
    font-size: 16px;
    background-image: url("/local/edu/pix/book.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    line-height: 20px;
    background-position: left center;

}

.lib-loading{
    display: block;
    margin: 0 auto;
    width: 100px;
}
.lib-loading-webinary{
    display: none;
    margin: 0 auto;
    width: 100px;
}

.library .bookimage img
{
    width: 100%;
}
.library .img, .library .bookimage img
{
    border: 1px solid #e2e0e6;
    -webkit-border-radius:4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.library .down
{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 15px;
}
.library
{
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 0px 2px 0 #f1f1f1;
    box-shadow: 0 0px 2px 0 #f1f1f1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    background-color: #fbfbfb;
    padding: 5px;
}

.ui-autocomplete-category{
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.edu-lib ul.dropdown-menu{
    z-index: 10000;
}

.lib-block-full
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
}
.lib-block {
    width: 150px;
    min-height: 122px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 1px solid; */
    position: relative;
    box-shadow: 0 0.1em 0.02em 0 rgba(0,0,0,.4),0 2px 10px 0 rgba(0,0,0,.12) !important;
    display: inline-block;
    margin-right: 15px;
}

.library-webinars .booklist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lib-block-name:hover {
    color: #0a6aa1;
}
.lib-block-name {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: left;
    box-sizing: border-box;
    padding: 8px;
    font-family: PTNarrow;
    font-size: 14px;
    background-color: #ffffff;
    line-height: 12px;
    cursor: pointer;
}
.lib-block:hover .lib-block-full
{
    opacity: 1;
}
.lib-block-full .lib-block-name
{
    box-shadow: 0 0.1em 0.02em 0 rgba(0,0,0,.4),0 2px 10px 0 rgba(0,0,0,.12) !important;

}
.lib-block-full
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    margin-bottom: 0 !important;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;

}
.bookback {
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    line-height: 14px;
    margin: 0px !important;
}

.library .excel-library span
{
    border-bottom: 1px dotted #0a6aa1;
}
.library .excel-library
{
    font-size: 12px;
    text-decoration: none;
    color: #0a6aa1;

}
#alphabet input
{
    margin: 0 !important;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    width: 25px;
    padding: 4px 4px;
    font-size: 16px;
    height: 24px;
    line-height: 16px;

}
#alphabet .help
{
    position: absolute;
    color: #888;
    font-size: 9px;
    font-style: italic;
    line-height: 9px;
    top: 50%;
    width: 95px;
    margin-top: -3px;
    right: -4px;

}
#alphabet
{
    display: block;
    position: relative;
}
#alphabet span
{
    cursor: pointer;
    line-height: 24px;
    color: #1b5a9a;
    border-bottom: 1px dotted;
    margin-left: 5px;
    font-size: 16px;
}
.lib_like img.like-hover
{
    opacity: 1 !important;
}
.lib_like img
{
    width: 20px !important;
    border: none !important;
    cursor:pointer;
    opacity: 0.2;
}
.lib_like.like-voting img
{
    cursor: default !important;
}
.lib_like div
{
    display: inline;
}
.lib-likes-container .text_description {
    color: #595d61;
    font-size: 11px;
    line-height: 11px;
    font-style: italic;
}
.lib-likes-container {
    margin-top: 10px;
}
.lib-likes-container .text_raiting_webinar
{
    color: #4d8e8b;
    font-size: 12px;
    font-family: inherit;
    font-style: italic;
}
.lib_like img.voting
{
    opacity: 1 !important;
}
.recomend_webinars
{
    color: #314bcc;
    font-size: 14px;
    font-family: inherit;
    font-style: italic;
    line-height: 17px;
}
.lib-find {
    margin: 0px !important;
    padding: 0px 21px;
    font-size: 12px;
    line-height: 25px;
}

.copyright-webinars {
    text-align: center;
    font-size: 11px;
    line-height: 12px;
    padding: 0 10px;
    color: grey;
    font-family: PTbold;
}
.lib-showmore {
    display: block;
    margin: 0 auto;
}

.span12.copyright-webinars {
    margin-top: 15px;
}

.edu-lib .dropdown-toggle .caret{
    margin-top: 5px;
}