body:not(.editing) .modtype_askquest .activityinstance {
  display: none!important;
}

.modal
{
  .modal-header .close
  {
    position: absolute;
    right: 0;
    top: 0;
  }
  .modal-header
  {
    position: relative;
  }
}

.askquest-link
{
  position: fixed;
  background-color: #52bf59;
  top: 30%;
  right: -100px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0px 0;
  width: 240px;
  text-align: center;
  color: #fff !important;
  cursor: pointer;
  font-size: 17px;
  line-height: 40px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #1ea54e;
}
.askquest-content textarea
{
  height: 100px;
}