#block_cabinet ul.user-icons li
{
  display: inline;
  padding: 0 15px;
}
#block_cabinet ul.user-icons
{
  list-style: none;
  text-align: center;
  margin: 0;
}
#block_cabinet .my-programs li a.active
{
  background: none;
  color: #34383c !important;
}
#block_cabinet .my-programs li > a
{
  padding:  0 20px;
  background: url("[[pix:theme|str1]]") no-repeat;
  background-position: right center;
  text-decoration: none;
  color: #0069ba !important;
  font-size: 13px;
  display: block;
}
#block_cabinet .my-programs li:last-child
{
  border-bottom: none;
}
#block_cabinet .my-programs li
{
  padding: 19px 10px;

  border-bottom: 1px solid #e2ebf5;
}
#block_cabinet .my-programs
{
  list-style: none;
  margin: 0;
  padding: 0;
}
#block_cabinet h3
{
  background-color: #f6f7f8;
  font-size: 10px;
  color: #696969;
  text-align: center;
  font-weight: normal;
  line-height: 10px;
  padding: 15px 0;
  margin-top: 10px;

}
#block_cabinet h2
{
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #181818;
  text-align: center;
  padding: 10px 20px;
}
#block_cabinet .userfoto img
{
  width: 95px;
  height: 95px;
  -webkit-border-radius:55px;
  -moz-border-radius: 55px;
  border-radius: 55px;
}
#block_cabinet .no-programs
{
  height: 20px;
}
#block_cabinet
{
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  background-color: #fff;

}
#block_cabinet .content
{
  padding: 20px 0 0 0;
}
#block_cabinet .userfoto
{
  display: block;
  width: 103px;
  height: 103px;
  border: 1px solid #88c8fb;
  text-align: center;
  margin: 0 auto;
  padding: 4px;
  -webkit-border-radius:55px;
  -moz-border-radius: 55px;
  border-radius: 55px;

}
#block_cabinet .header{
  display: none;
}