#page-course-view-topics {
  .card-block {
    padding: 0;
    background-color: transparent;
    border: none;
  }
  li.section {
    background-color: #ffffff;
    border: 1px solid rgba(238, 238, 238, 1);
    margin-bottom: 1.25rem;
  }
}

#course-header {
  padding: 1.25rem;
  margin: 75px 0 1.25rem;
  background-color: #ffffff;
  border: 1px solid rgba(238, 238, 238, 1);
  h5 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: grey;
    margin-top: 15px;
  }
  h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .teachers {
    margin-top: 10px;
  }
  .coursefoto {
    width: 100%;
    max-width: 160px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-top: 15px;
    overflow: hidden;
  }
  .coursefoto:before {
    content: "";
    padding-top: 100%;
    float: left;
  }
  .teacher div {
    display: inline-block;
    vertical-align: middle;
  }
  .teacher .foto img {
    width: 100%;
  }
  .teacher .name {
    color: #0c5db0;
    margin-left: 10px;
  }
  .teacher .foto {

    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .teacher {
    display: inline-block;
    margin-right: 30px;
  }

  .summary {
    font-size: 14px;
    line-height: 16px;
    color: grey;
  }
}