$lgreen: #52bf59;
$lred: #ec4a4b;
$lyellow: #f3ca0a;
$lgrey: grey;
.teacher-info img {
  float: left;
  margin: 0 15px 15px 0;
}

@mixin liner($start, $end) {
  background: $start;
  background: -moz-linear-gradient(top, $start 0%, $start 11%, $end 87%, $end 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $start), color-stop(11%, $start), color-stop(87%, $end), color-stop(100%, $end));
  background: -webkit-linear-gradient(top, $start 0%, $start 11%, $end 87%, $end 100%);
  background: -o-linear-gradient(top, $start 0%, $start 11%, $end 87%, $end 100%);
  background: -ms-linear-gradient(top, $start 0%, $start 11%, $end 87%, $end 100%);
  background: linear-gradient(to bottom, $start 0%, $start 11%, $end 87%, $end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end', GradientType=0);
}

:not(.editing) .edu-cabinet .sitetopic {
  display: none;
}

.edu-cabinet {
  .grades .c3, .grades .c2 {
    text-align: center;
  }
  .grades .div-td {
    padding: 2px 5px;
  }
  #frontpage-course-list > h2 {
    display: none;
  }
  .p-info .div-td {
    border: none !important;
  }
  .p-dates {
    font-weight: bold;
    font-size: 12px;
  }
  .p-info .c1 {
    text-align: right;
  }
  .p-info h4 {
    padding: 0 0 0 19px;
    margin: 0;
  }
  .p-info {
    border: none !important;
    margin-bottom: 15px;
  }

  .forums {
    .c1, .c2 {
      text-align: center;
      width: 190px;
    }
    .c0 {
      width: auto !important;
      padding-left: 15px !important;
    }
    .forum-head .div-td {
      font-size: 16px;
      font-weight: bold;
    }
    .forum-el .div-td {
      padding-left: 30px !important;
    }
    .subs-info {
      font-size: 10px;
      margin: 0;
      color: grey;
      line-height: 12px;
    }
  }

}

.edu-cabinet .plan {
  .course-name {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
  }
  .info ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .info ul li {
    background-color: transparent;
    margin-bottom: 9px;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .info ul li.yes {
    background: rgba(208, 247, 211, 1);
    background: -moz-linear-gradient(left, rgba(208, 247, 211, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(208, 247, 211, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(208, 247, 211, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(208, 247, 211, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(208, 247, 211, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(208, 247, 211, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0f7d3', endColorstr='#ffffff', GradientType=1);
  }

  .info ul li.no {
    background: rgba(245, 212, 213, 1);
    background: -moz-linear-gradient(left, rgba(245, 212, 213, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245, 212, 213, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(245, 212, 213, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(245, 212, 213, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(245, 212, 213, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(245, 212, 213, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5d4d5', endColorstr='#ffffff', GradientType=1);
  }

  .teacher-table .div-td img {
    -webkit-box-shadow: 1px 0px 1px 0px rgba(92, 92, 92, 1);
    -moz-box-shadow: 1px 0px 1px 0px rgba(92, 92, 92, 1);
    box-shadow: 1px 0px 1px 0px rgba(92, 92, 92, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .teacher-table .div-td {
    border: none !important;
    padding: 0 !important;
  }
  .teacher-table {
    border: none !important;
  }
  .info {
    font-weight: 300;
    position: relative;
    padding-left: 9px;
    font-style: italic;
    font-size: 12px;
  }
  .info i {
    margin-right: 10px;
  }
  .c0 {
    position: relative;
    width: 40px;
  }
  .div-td {
    padding: 10px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .liner {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    margin-left: -1px;
    z-index: 1;
    top: 19px;
  }
  .point {
    position: absolute;
    width: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 10px;
    top: 22px;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;

    z-index: 1;
    cursor: pointer;
  }
  .iscompleted .point {
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 0px 3px $lgreen;
    -moz-box-shadow: 0px 0px 0px 3px $lgreen;
    box-shadow: 0px 0px 0px 1px $lgreen;
    background-color: $lgreen !important;
  }
  .lgreen-lgreen .point, .lgreen-lgrey .point, .lgreen-lred .point, .lgreen-lyellow .point, .lgreen .point {
    background-color: $lgreen;
  }
  .lyellow-lgreen .point, .lyellow-lgrey .point, .lyellow-lyellow .point, .lyellow-lred .point, .lyellow .point {
    background-color: $lyellow;
  }
  .lred-lgreen .point, .lred-lgrey .point, .lred-lyellow .point, .lred-lred .point, .lred .point {
    background-color: $lred;
  }
  .lgrey-lgreen .point, .lgrey-lgrey .point, .lgrey-lred .point, .lgrey-lyellow .point, .lgrey .point {
    background-color: $lgrey;
  }
  .lgreen-lgreen .liner {
    @include liner($lgreen, $lgreen);
  }
  .lgreen-lgrey .liner {
    @include liner($lgreen, $lgrey);
  }
  .lgreen-lyellow .liner {
    @include liner($lgreen, $lyellow);
  }
  .lgreen-lred .liner {
    @include liner($lgreen, $lred);
  }

  .lgrey-lgreen .liner {
    @include liner($lgrey, $lgreen);
  }
  .lgrey-lgrey .liner {
    @include liner($lgrey, $lgrey);
  }
  .lgrey-lyellow .liner {
    @include liner($lgrey, $lyellow);
  }
  .lgrey-lred .liner {
    @include liner($lgrey, $lred);
  }

  .lred-lgreen .liner {
    @include liner($lred, $lgreen);
  }
  .lred-lgrey .liner {
    @include liner($lred, $lgrey);
  }
  .lred-lyellow .liner {
    @include liner($lred, $lyellow);
  }
  .lred-lred .liner {
    @include liner($lred, $lred);
  }

  .lyellow-lgreen .liner {
    @include liner($lyellow, $lgreen);
  }
  .lyellow-lgrey .liner {
    @include liner($lyellow, $lgrey);
  }
  .lyellow-lyellow .liner {
    @include liner($lyellow, $lyellow);
  }
  .lyellow-lred .liner {
    @include liner($lyellow, $lred);
  }

}

.program-news > div {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 15px;
}

