.div-table
{
  width: 100%;
  display: table;
  border: 1px solid #d2dde8;
  &.t .div-td
  {
    vertical-align: top;
  }
  &.m .div-td
  {
    vertical-align: middle;
  }
  &.b .div-td
  {
    vertical-align: bottom;
  }
  .div-tr
  {
    display: table-row;
  }
  .div-td
  {
    display: table-cell;
    border-top: 1px solid #d2dde8;
  }
  .header .div-td
  {
    border-top: none;

  }
  .header
  {
    background-color: #f2f7fc;
    font-weight: bold;
  }
}