
html,
body {
  height: 100%;
}

#page-wrapper {
  min-height: 100%;
  padding-bottom: $spacer;
  margin-bottom: -60px !important;
}

#page-wrapper::after {
  content: "";
  display: block;
  min-height: 60px !important;
}

#page-footer {
  min-height: 60px !important;
  text-align: left;
}

#page-footer .sitename {
  text-align: center;
  font-family: PTbold;
  font-size: 12px;
  padding-top: 10px;
}
#page-footer
{
  background-color: white;
}