.programs-main
{
  .c0
  {
    position: relative;
    min-width: 32px;
  }
  .course-completed
  {
    background-image: url("/theme/sdo/pix/check.png");
  }
  .course-status.red
  {

  }
  .course-status.green
  {
    background-color: #3fba48;
  }
  .course-status.red
  {
    background-color: #fa1535;
  }
  .course-status.yellow
  {
    background-color: #fbf96f;
  }
  .course-status
  {

    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    display: inline-block;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
  }
  .course-line.yellow
  {
    background-color: #fbf96f;
  }
  .course-line.red
  {
    background-color: #fa1535;
  }
  .course-line.green
  {
    background-color: #3fba48;

  }
  .course-line.green-red
  {
    background: #3fba48;
    background: -moz-linear-gradient(top, #3fba48 0%, #3fba48 11%, #fa1535 87%, #fa1535 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3fba48), color-stop(11%, #3fba48), color-stop(87%, #fa1535), color-stop(100%,#fa1535));
    background: -webkit-linear-gradient(top, #3fba48 0%, #3fba48 11%, #fa1535 87%, #fa1535 100%);
    background: -o-linear-gradient(top, #3fba48 0%, #3fba48 11%, #fa1535 87%, #fa1535 100%);
    background: -ms-linear-gradient(top, #3fba48 0%, #3fba48 11%, #fa1535 87%, #fa1535 100%);
    background: linear-gradient(to bottom, #3fba48 0%, #3fba48 11%, #fa1535 87%, #fa1535 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ff0000', GradientType=0 );
  }

  .course-line.green-green
   {
     background: #3fba48;
     background: -moz-linear-gradient(top, #3fba48 0%, #3fba48 11%, #3fba48 87%, #3fba48 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, #3fba48), color-stop(11%, #3fba48), color-stop(87%, #3fba48), color-stop(100%,#3fba48));
     background: -webkit-linear-gradient(top, #3fba48 0%, #3fba48 11%, #3fba48 87%, #3fba48 100%);
     background: -o-linear-gradient(top, #3fba48 0%, #3fba48 11%, #3fba48 87%, #3fba48 100%);
     background: -ms-linear-gradient(top, #3fba48 0%, #3fba48 11%, #3fba48 87%, #3fba48 100%);
     background: linear-gradient(to bottom, #3fba48 0%, #3fba48 11%, #3fba48 87%, #3fba48 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ff0000', GradientType=0 );
   }
  .course-line.green-yellow
  {
    background: #3fba48;
    background: -moz-linear-gradient(top, #3fba48 0%, #3fba48 11%, #fbf96f 87%, #fbf96f 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3fba48), color-stop(11%, #3fba48), color-stop(87%, #fbf96f), color-stop(100%,#fbf96f));
    background: -webkit-linear-gradient(top, #3fba48 0%, #3fba48 11%, #fbf96f 87%, #fbf96f 100%);
    background: -o-linear-gradient(top, #3fba48 0%, #3fba48 11%, #fbf96f 87%, #fbf96f 100%);
    background: -ms-linear-gradient(top, #3fba48 0%, #3fba48 11%, #fbf96f 87%, #fbf96f 100%);
    background: linear-gradient(to bottom, #3fba48 0%, #3fba48 11%,#fbf96f 87%, #fbf96f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ff0000', GradientType=0 );
  }

  .course-line.red-red
  {
    background: #fa1535;
    background: -moz-linear-gradient(top, #fa1535 0%, #fa1535 11%, #fa1535 87%, #fa1535 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fa1535), color-stop(11%, #fa1535), color-stop(87%, #fa1535), color-stop(100%,#fa1535));
    background: -webkit-linear-gradient(top, #fa1535 0%, #fa1535 11%, #fa1535 87%, #fa1535 100%);
    background: -o-linear-gradient(top, #fa1535 0%, #fa1535 11%, #fa1535 87%, #fa1535 100%);
    background: -ms-linear-gradient(top, #fa1535 0%, #fa1535 11%, #fa1535 87%, #fa1535 100%);
    background: linear-gradient(to bottom, #fa1535 0%, #fa1535 11%,#fa1535 87%, #fa1535 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ff0000', GradientType=0 );
  }

  .course-line.red-green
  {
    background: #fa1535;
    background: -moz-linear-gradient(top, #fa1535 0%, #fa1535 11%, #3fba48 87%, #3fba48 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fa1535), color-stop(11%, #fa1535), color-stop(87%, #3fba48), color-stop(100%,#3fba48));
    background: -webkit-linear-gradient(top, #fa1535 0%, #fa1535 11%, #3fba48 87%, #3fba48 100%);
    background: -o-linear-gradient(top, #fa1535 0%, #fa1535 11%, #3fba48 87%, #3fba48 100%);
    background: -ms-linear-gradient(top, #fa1535 0%, #fa1535 11%, #3fba48 87%, #3fba48 100%);
    background: linear-gradient(to bottom, #fa1535 0%, #fa1535 11%,#3fba48 87%, #3fba48 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ff0000', GradientType=0 );
  }

  .course-line.yellow-yellow
  {
    background: #fbf96f;
    background: -moz-linear-gradient(top, #fbf96f 0%, #fbf96f 11%, #fbf96f 87%, #fbf96f 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fbf96f), color-stop(11%, #fbf96f), color-stop(87%, #fbf96f), color-stop(100%,#fbf96f));
    background: -webkit-linear-gradient(top, #fbf96f 0%, #fbf96f 11%, #fbf96f 87%, #fbf96f 100%);
    background: -o-linear-gradient(top, #fbf96f 0%, #fbf96f 11%, #fbf96f 87%, #fbf96f 100%);
    background: -ms-linear-gradient(top, #fbf96f 0%, #fbf96f 11%, #fbf96f 87%, #fbf96f 100%);
    background: linear-gradient(to bottom, #fbf96f 0%, #fbf96f 11%,#fbf96f 87%, #fbf96f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ff0000', GradientType=0 );
  }

  .course-line.yellow-green
  {
    background: #fbf96f;
    background: -moz-linear-gradient(top, #fbf96f 0%, #fbf96f 11%, #3fba48 87%, #3fba48 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fbf96f), color-stop(11%, #fbf96f), color-stop(87%, #3fba48), color-stop(100%,#3fba48));
    background: -webkit-linear-gradient(top, #fbf96f 0%, #fbf96f 11%, #3fba48 87%, #3fba48 100%);
    background: -o-linear-gradient(top, #fbf96f 0%, #fbf96f 11%, #3fba48 87%, #3fba48 100%);
    background: -ms-linear-gradient(top, #fbf96f 0%, #fbf96f 11%, #3fba48 87%, #3fba48 100%);
    background: linear-gradient(to bottom, #fbf96f 0%, #fbf96f 11%,#3fba48 87%, #3fba48 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ff0000', GradientType=0 );
  }








  .course-line
  {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    margin-left: -3px;

    height: 100%;
    z-index: 1;
  }
  .last-tr .course-line
  {
    display: none;

  }

}


.cabinet-eop {
  .card
  {
    border: none;
  }
  .card-header {
    padding: 0;
    border: none;
    background-color: transparent !important;
    position: relative;
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em 20px 25px;
    font-size: 100%;
  }
  .card-body
  {
    padding-left: 25px;
  }
  .program-plan
  {
    border: 1px solid #d2dde8;
  }

}

