

@import "scroll";
@import "blockedu";
@import "waves";
@import "sidenav";
@import "flextable";
@import "educabinet";
@import "course";
@import "askquest";
@import "grid";
@import "jstree";
@import "lib";


.file-size
{
  font-size: 12px;
  color: grey;
  margin-left: 10px;
  font-style: italic;
}