[data-region="drawer"] {
  overflow-y: hidden;
  padding: 0 !important;
  border-right: 1px solid #dddddd;
}

.side-nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  list-style-type: none;
  background-color: white;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  .success i {
    color: #139e27;
  }
  .danger i {
    color: #bd003a;
  }
  .warning i {
    color: #bdbd00;
  }
  div.counter {
    position: absolute;
    width: 18px;
    text-align: center;
    line-height: 18px;
    background-color: red;
    right: 13px;
    top: 50%;
    margin-top: -9px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;

  }
  span.count {
    position: absolute;
    width: 18px;
    text-align: center;
    line-height: 18px;
    background-color: red;
    right: 3px;
    top: 50%;
    margin-top: -9px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
  }
  ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
  }
  ul li {
    padding: 0;
    margin-top: 4px;
  }
  .collapsible-body a span {
    padding-left: 12px;
    padding-right: 10px;
    margin-left: 6px;
    display: inline-block;
  }
  .collapsible-body a.active span, .collapsible-body a:hover span {
    border-left: 2px solid #379000;
    padding-left: 10px;
  }
  .collapsible {
    margin: 0;
    padding: 0;
  }
  .collapsible li a:hover {
    //background-color: rgba(0, 0, 0, 0.15);
  }
  .collapsible > li:not(.line) {
  }
  .collapsible > li a.collapsible-header {
    position: relative;
    cursor: pointer;
    span {
      position: absolute;
      right: 3px;
    }
  }
  .collapsible > li a.collapsible-header:hover {
    background-color: #d7dfec;
  }
  .collapsible > li a.collapsible-header.active {
    background-color: #d7dfec;
  }
  .collapsible ul {
    padding: 0;
    list-style-type: none;
  }
  .collapsible a {

    line-height: 16px;
    padding: 7px 26px 7px 20px;
  }
  .collapsible a.active, .collapsible a:hover {
  }
  .collapsible .fa {
    font-size: 1rem;
    margin-right: 13px;
  }
  .collapsible-body a {
    line-height: 16px;
    height: auto;
    padding: 7px 5px 7px 26px;

  }
  a {
    display: block;
    padding-left: 20px;
    color: #1177d1 !important;
    text-decoration: none;
  }
  .fa-angle-down.rotate-icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 1.25rem;
    margin-top: -7px;
  }
  .fa {
    color: #1177d1;
  }

  .active .rotate-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 150ms ease-in 0s;
    -o-transition: all 150ms ease-in 0s;
    transition: all 150ms ease-in 0s;
  }
  .content .fa {
    margin-right: 13px;
  }
  .content b {
    font-weight: 600;
  }
  .content {
    padding: 12px 0px 12px 20px;
    color: #101010;
  }
  .line {
    border-bottom: 1px solid #dddddd;
    font-size: 0;
  }

}
